.item1 {
    grid-area: 1/2/2/3;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(7, 7, 85);
    box-shadow: inset 0px 0px 40px rgba(2, 2, 32, 1);
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin-bottom: 65px;
    margin-top: 15%;
}