.item2 {
    grid-area: 1/4/2/10;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 5%;
    background-color: rgb(7, 7, 85);
    box-shadow: inset 0px 0px 40px rgba(2, 2, 32, 1);
    border-radius: 10px;
    margin-right: 15px;
}


.item2Text {
    display:grid;
    grid-template-columns: 7;
    grid-template-rows: 3;
    grid-auto-flow: column;
    justify-items: auto;
    align-items: auto;
}

.item2Text p {
    font-size: 18px;
    font-weight: light;
    font-style: normal;
}

.item2 h2{
    font-size: 36px;
    font-weight: bolder;
    font-style:italic;
}

.item2 select {
    height: 24px;
    border-radius: 3px;
    width: auto;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: light;
    font-style: normal;
}

.item2 select option {
    font-size: 13px;
    font-weight: light;
    font-style: normal;
    border-radius: 15px;
}